/* Add this to your existing App.css file */

.card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: calc(33.33% - 20px); /* Adjust card width as needed */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .insert{
    padding: 20px;
    min-width: 700px;
    border-radius: 25px;
  }
  .add_post{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card h3 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 0;
  }
  .post-form {
    margin-bottom: 20px;
  }
  
  .post-form h3 {
    margin-bottom: 10px;
  }
  
  .post-form input[type="text"],
  .post-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .post-form textarea {
    height: 100px;
  }
  
  .post-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .post-form button:hover {
    background-color: #0056b3;
  }
  